.Wishlist{
    /* background-color: white; */
    width: 7%;
    /* border-radius: 10px; */
    margin-left: auto;
    /* margin-top: auto; */

    height: 2rem;
    padding-top:1%;
    align-items: center;
    color: white;
    border-color: black;
    /* box-shadow: 0px 0px 8px #ddd; */
    /* display: flex !important; */
    
    font-family: Helvetica, sans-serif;
    /* align-content: right !important; */
}
/* .Wishlist:hover{
    color: red;
} */